html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; }

@font-face { font-family: opensans-regular; src: url("../fonts/opensans-regular.eot"); src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-semibold; src: url("../fonts/opensans-semibold.eot"); src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-bold; src: url("../fonts/opensans-bold.eot"); src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-italic; src: url("../fonts/opensans-italic.eot"); src: url("../fonts/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-condbold; src: url("../fonts/opensans-condbold.eot"); src: url("../fonts/opensans-condbold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-condbold.woff") format("woff"), url("../fonts/opensans-condbold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-light; src: url("../fonts/opensans-light.eot"); src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: seguisb; src: url("../fonts/seguisb.eot"); src: url("../fonts/seguisb.eot?#iefix") format("embedded-opentype"), url("../fonts/seguisb.woff") format("woff"), url("../fonts/seguisb.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html ::selection { background: rgba(160, 45, 49, 0.3); }
html ::-moz-selection { background: rgba(160, 45, 49, 0.3); }

body { min-width: 1024px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; font-family: "opensans-regular", Arial, sans-serif; background: whitesmoke; }

a { text-decoration: none; }

.wrap { *zoom: 1; clear: both; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { position: relative; margin: 0 0 -50px; min-height: 100%; height: auto !important; height: 100%; overflow: hidden; }

.push { clear: both; height: 50px; }

.l-center { margin: 0 auto; position: relative; padding: 0 30px; max-width: 1440px; min-width: 1000px; }

.header { position: relative; z-index: 2; height: 76px; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
.header .l-center { *zoom: 1; padding: 0 0 0 30px; }
.header .l-center:after { content: " "; display: table; clear: both; }
.header__nav { position: relative; margin: 29px 0 0; padding-left: 36px; float: left; font-family: "seguisb", Arial, sans-serif; color: #909090; font-size: 14px; text-transform: uppercase; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; background: none; }
.header__nav:hover { color: #303030; }
.header__nav:before { content: ""; position: absolute; top: 2px; left: 0; background: url('../img/icons-s544b3a375a.png') 0 -380px no-repeat; width: 26px; height: 16px; }
.header__main { float: right; text-align: right; font-size: 0; white-space: nowrap; }
.header__logo { float: right; font: 0/0 a; text-shadow: none; color: transparent; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 152px 76px; -o-background-size: 152px 76px; -webkit-background-size: 152px 76px; background-size: 152px 76px; width: 152px; height: 76px; display: inline-block; }

.contact { position: relative; z-index: 2; display: inline-block; vertical-align: top; text-align: left; border-left: 1px solid #dce3e8; width: 245px; }
.contact:hover .contact__list-main { visibility: visible; opacity: 1; top: 100%; }
.contact__item { position: relative; padding: 20px 43px 20px 10px; background: white; font-size: 14px; color: #303030; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; cursor: pointer; white-space: nowrap; }
.contact__item:hover { background: #f9f9f9; }
.contact__item:hover .contact__list { visibility: visible; opacity: 1; z-index: 1; }
.contact__item i { margin-top: 4px; vertical-align: top; }
.contact__item.has-droplist:after { content: ""; position: absolute; top: 50%; right: 14px; margin-top: -5px; background: url('../img/icons-s544b3a375a.png') 0 -127px no-repeat; width: 7px; height: 11px; }
.contact__item.has-droplist:hover:after { background: url('../img/icons-s544b3a375a.png') 0 -106px no-repeat; width: 7px; height: 11px; }
.contact__first-item { height: 76px; padding: 18px 43px 18px 10px; }
.contact__first-item:after { content: ""; position: absolute; top: 50%; right: 14px; margin-top: -3px; background: url('../img/icons-s544b3a375a.png') 0 -33px no-repeat; width: 11px; height: 7px; }
.contact__first-item:hover:after { background: url('../img/icons-s544b3a375a.png') 0 -16px no-repeat; width: 11px; height: 7px; }
.contact__info { display: inline-block; vertical-align: top; white-space: normal; }
.contact__info span { display: block; font-family: "opensans-semibold", Arial, sans-serif; font-size: 18px; color: #303030; }
.contact__list { visibility: hidden; opacity: 0; position: absolute; top: -50%; left: 0; right: 0; z-index: -1; border-top: 2px solid #191919; background: white; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; box-shadow: 0 25px 27px rgba(0, 0, 0, 0.17); }
.contact__list .contact__item { border-bottom: 1px solid #bcbcbc; }
.contact__list .contact__item:hover .contact__list { left: 100%; z-index: 2; }
.contact__list .contact__list { right: auto; top: 0; left: 80%; width: 245px; color: #6b6b6b; border: 0; z-index: -1; }
.contact__list .contact__list .contact__item { padding: 18px 43px 17px 27px; }
.contact__link { display: inline-block; padding: 1px 6px; font-size: 11px; text-transform: uppercase; color: #191919; border-radius: 8px; background: #ededed; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.contact__link:hover { background: #a02d31; color: white; }

.icon-pin { display: inline-block; background: url('../img/icons-s544b3a375a.png') 0 -406px no-repeat; width: 13px; height: 21px; }

.icon-tel { display: inline-block; background: url('../img/icons-s544b3a375a.png') 0 -571px no-repeat; width: 19px; height: 19px; }

.nav { position: fixed; top: 0; bottom: 0; -moz-transform: translateX(-240px); -ms-transform: translateX(-240px); -webkit-transform: translateX(-240px); transform: translateX(-240px); width: 240px; z-index: 3; background: #191919; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav.is-active { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
.nav__top { padding: 28px 22px; }
.nav__close { position: relative; padding-left: 30px; background: none; color: #909090; font-size: 14px; font-family: "seguisb", Arial, sans-serif; text-transform: uppercase; }
.nav__close:before { content: ""; position: absolute; left: 0; top: 0; background: url('../img/icons-s544b3a375a.png') 0 -216px no-repeat; width: 17px; height: 17px; }
.nav__search { position: relative; margin: 20px 0 0; }
.nav__search input { display: block; width: 100%; border: 1px solid #363636; padding: 0 20px 0 8px; height: 25px; font-family: "opensans-light", Arial, sans-serif; background: #191919; }
.nav__search input:-ms-input-placeholder { color: #a3a3a3; }
.nav__search input:-moz-placeholder { color: #a3a3a3; }
.nav__search input::-moz-placeholder { color: #a3a3a3; }
.nav__search input::-webkit-input-placeholder { color: #a3a3a3; }
.nav__search input::placeholder { color: #a3a3a3; }
.nav__search input:focus { color: white; border-color: #909090; }
.nav__search button { position: absolute; top: 50%; right: 6px; margin-top: -5px; background: url('../img/icons-s544b3a375a.png') 0 -273px no-repeat; width: 12px; height: 11px; }
.nav__list { text-transform: uppercase; }
.nav__list li.has-drop-nav a:after { content: ""; position: absolute; top: 50%; right: 20px; margin-top: -3px; background: url('../img/icons-s544b3a375a.png') 0 0 no-repeat; width: 9px; height: 6px; }
.nav__list li:hover > a { border-left-color: #a02d31; color: white; background: black; }
.nav__list li:hover ul { display: block; }
.nav__list li:hover li a { padding: 9px 22px 9px 44px; }
.nav__list li ul { display: none; }
.nav__list li li a { padding: 0 22px 0 44px; }
.nav__list a { display: block; position: relative; border-bottom: 1px solid #242424; border-left: 2px solid transparent; padding: 9px 32px 9px 22px; color: #cacaca; font-size: 14px; font-family: "opensans-semibold", Arial, sans-serif; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.breadcrumbs { margin: 0 0 20px; background: #e9e9e9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19); }
.breadcrumbs .l-center:before { content: ""; position: absolute; left: -1970px; top: 0; bottom: 0; width: 2000px; background: #f4f4f4; }
.breadcrumbs a, .breadcrumbs span { position: relative; display: inline-block; padding: 6px 10px 6px 12px; vertical-align: middle; line-height: 1; font-size: 12px; }
.breadcrumbs a { background: #f4f4f4; color: #303030; }
.breadcrumbs a:before { content: ""; position: absolute; top: 0; left: -11px; background: url('../img/icons-s544b3a375a.png') 0 -182px no-repeat; width: 11px; height: 24px; }
.breadcrumbs a:first-child { padding-left: 0; }
.breadcrumbs a:first-child:before { display: none; }
.breadcrumbs a:hover { color: #a02d31; }
.breadcrumbs span { color: #545454; }
.breadcrumbs span:before { content: ""; position: absolute; top: 0; left: -4px; width: 0px; height: 0px; border-style: solid; border-width: 12px 0 12px 7px; border-color: transparent transparent transparent #f4f4f4; }

.footer { position: relative; padding: 17px 0; background: white; color: #303030; }
.footer .l-center { *zoom: 1; }
.footer .l-center:after { content: " "; display: table; clear: both; }
.footer__col { float: left; width: 50%; text-align: right; font-size: 12px; text-transform: uppercase; }
.footer__col:first-child { text-align: left; }
.footer a { color: #303030; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer a:hover { color: #a02d31; }

.page-title { margin: 0 0 17px; font-family: "opensans-semibold", Arial, sans-serif; font-size: 30px; font-weight: normal; }

.posts-wrap { margin: 0 auto; max-width: 1260px; }

.post { float: left; margin-bottom: 20px; border: 1px solid #ededed; padding: 18px 18px 40px; width: 300px; background: white; font-size: 16px; color: #191919; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "opensans-regular", Arial, sans-serif; }
.post:hover { box-shadow: 0 2px 12px rgba(0, 0, 0, 0.14); }
.post__img { margin: 0 0 23px; max-height: 174px; overflow: hidden; }
.post__img img { max-width: 100%; }
.post .date { margin-bottom: 10px; }

.date { display: inline-block; position: relative; padding: 3px 0 0; color: #a02d31; font-size: 14px; }
.date:before { content: ""; position: absolute; top: 0; left: 0; height: 2px; width: 31px; background: #d7d7d7; }
