html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: inherit; -webkit-box-sizing: inherit; box-sizing: inherit; }

@font-face { font-family: opensans-regular; src: url("../fonts/opensans-regular.eot"); src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-semibold; src: url("../fonts/opensans-semibold.eot"); src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-bold; src: url("../fonts/opensans-bold.eot"); src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-italic; src: url("../fonts/opensans-italic.eot"); src: url("../fonts/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-condbold; src: url("../fonts/opensans-condbold.eot"); src: url("../fonts/opensans-condbold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-condbold.woff") format("woff"), url("../fonts/opensans-condbold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: opensans-light; src: url("../fonts/opensans-light.eot"); src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: seguisb; src: url("../fonts/seguisb.eot"); src: url("../fonts/seguisb.eot?#iefix") format("embedded-opentype"), url("../fonts/seguisb.woff") format("woff"), url("../fonts/seguisb.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html ::selection { background: rgba(160, 45, 49, 0.3); }
html ::-moz-selection { background: rgba(160, 45, 49, 0.3); }

body { min-width: 1024px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; font-family: "opensans-regular", Arial, sans-serif; background: whitesmoke; }

a { text-decoration: none; }

.wrap { *zoom: 1; clear: both; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { position: relative; z-index: 2; margin: 0 0 -50px; min-height: 100%; height: auto !important; height: 100%; overflow: hidden; }

.push { clear: both; height: 50px; }

.l-center { margin: 0 auto; position: relative; padding: 0 30px; max-width: 1440px; min-width: 1000px; }

.header { position: relative; z-index: 4; height: 76px; background: white; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); }
.header .l-center { *zoom: 1; padding: 0 0 0 30px; }
.header .l-center:after { content: " "; display: table; clear: both; }
.header__nav { position: relative; margin: 29px 0 0; padding-left: 36px; float: left; font-family: "seguisb", Arial, sans-serif; color: #909090; font-size: 14px; text-transform: uppercase; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; background: none; }
.header__nav:hover { color: #303030; }
.header__nav:before { content: ""; position: absolute; top: 2px; left: 0; background: url('../img/icons-s397dca5b84.png') 0 -591px no-repeat; width: 26px; height: 16px; }
.header__main { float: right; text-align: right; font-size: 0; white-space: nowrap; }
.header__logo { float: right; font: 0/0 a; text-shadow: none; color: transparent; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 152px 76px; -o-background-size: 152px 76px; -webkit-background-size: 152px 76px; background-size: 152px 76px; width: 152px; height: 76px; display: inline-block; }

.contact { position: relative; z-index: 2; display: inline-block; vertical-align: top; text-align: left; border-left: 1px solid #dce3e8; width: 245px; }
.contact:hover .contact__list-main { visibility: visible; opacity: 1; top: 100%; }
.contact__item { position: relative; padding: 20px 43px 20px 10px; background: white; font-size: 14px; color: #303030; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; cursor: pointer; white-space: nowrap; }
.contact__item:hover { background: #f9f9f9; }
.contact__item:hover .contact__list { visibility: visible; opacity: 1; z-index: 1; }
.contact__item i { margin: 4px 4px 0 0; vertical-align: top; }
.contact__item.has-droplist:after { content: ""; position: absolute; top: 50%; right: 14px; margin-top: -5px; background: url('../img/icons-s397dca5b84.png') 0 -127px no-repeat; width: 7px; height: 11px; }
.contact__item.has-droplist:hover:after { background: url('../img/icons-s397dca5b84.png') 0 -106px no-repeat; width: 7px; height: 11px; }
.contact__first-item { height: 76px; padding: 18px 43px 18px 10px; }
.contact__first-item:after { content: ""; position: absolute; top: 50%; right: 14px; margin-top: -3px; background: url('../img/icons-s397dca5b84.png') 0 -33px no-repeat; width: 11px; height: 7px; }
.contact__first-item:hover:after { background: url('../img/icons-s397dca5b84.png') 0 -16px no-repeat; width: 11px; height: 7px; }
.contact__info { display: inline-block; vertical-align: top; white-space: normal; }
.contact__info span { display: block; font-family: "opensans-semibold", Arial, sans-serif; font-size: 18px; color: #303030; }
.contact__list { visibility: hidden; opacity: 0; position: absolute; top: -50%; left: 0; right: 0; z-index: -1; border-top: 2px solid #191919; background: white; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; box-shadow: 0 25px 27px rgba(0, 0, 0, 0.17); }
.contact__list .contact__item { border-bottom: 1px solid #bcbcbc; }
.contact__list .contact__item:hover .contact__list { left: 100%; z-index: 2; }
.contact__list .contact__list { right: auto; top: 0; left: 80%; width: 245px; color: #6b6b6b; border: 0; z-index: -1; }
.contact__list .contact__list .contact__item { padding: 18px 43px 17px 27px; }
.contact__link { display: inline-block; padding: 1px 6px; font-size: 11px; text-transform: uppercase; color: #191919; border-radius: 8px; background: #ededed; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.contact__link:hover { background: #a02d31; color: white; }

.icon-pin { display: inline-block; background: url('../img/icons-s397dca5b84.png') 0 -617px no-repeat; width: 13px; height: 21px; }

.icon-tel { display: inline-block; background: url('../img/icons-s397dca5b84.png') 0 -782px no-repeat; width: 19px; height: 19px; }

.nav { position: fixed; top: 0; bottom: 0; left: -240px; width: 240px; z-index: 3; background: #191919; -moz-transition: -moz-transform 0.2s linear; -o-transition: -o-transform 0.2s linear; -webkit-transition: -webkit-transform 0.2s linear; transition: transform 0.2s linear; }
.nav.is-active { -moz-transform: translateX(240px); -ms-transform: translateX(240px); -webkit-transform: translateX(240px); transform: translateX(240px); }
.nav__top { padding: 28px 22px; }
.nav__close { position: relative; padding-left: 30px; background: none; color: #909090; font-size: 14px; font-family: "seguisb", Arial, sans-serif; text-transform: uppercase; }
.nav__close:before { content: ""; position: absolute; left: 0; top: 0; background: url('../img/icons-s397dca5b84.png') 0 -235px no-repeat; width: 17px; height: 17px; }
.nav__search { position: relative; margin: 20px 0 0; }
.nav__search input { display: block; width: 100%; border: 1px solid #363636; padding: 0 20px 0 8px; height: 25px; font-family: "opensans-light", Arial, sans-serif; background: #191919; }
.nav__search input:-ms-input-placeholder { color: #a3a3a3; }
.nav__search input:-moz-placeholder { color: #a3a3a3; }
.nav__search input::-moz-placeholder { color: #a3a3a3; }
.nav__search input::-webkit-input-placeholder { color: #a3a3a3; }
.nav__search input::placeholder { color: #a3a3a3; }
.nav__search input:focus { color: white; border-color: #909090; }
.nav__search button { position: absolute; top: 50%; right: 6px; margin-top: -5px; background: url('../img/icons-s397dca5b84.png') 0 -484px no-repeat; width: 12px; height: 11px; }
.nav__list { text-transform: uppercase; }
.nav__list li.has-drop-nav a:after { content: ""; position: absolute; top: 50%; right: 20px; margin-top: -3px; background: url('../img/icons-s397dca5b84.png') 0 0 no-repeat; width: 9px; height: 6px; }
.nav__list li:hover > a { border-left-color: #a02d31; color: white; background: black; }
.nav__list li:hover ul { display: block; }
.nav__list li:hover li a { padding: 9px 22px 9px 44px; }
.nav__list li ul { display: none; }
.nav__list li li a { padding: 0 22px 0 44px; }
.nav__list a { display: block; position: relative; border-bottom: 1px solid #242424; border-left: 2px solid transparent; padding: 9px 32px 9px 22px; color: #cacaca; font-size: 14px; font-family: "opensans-semibold", Arial, sans-serif; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.ie8 .nav { left: -240px; }
.ie8 .nav.is-active { left: 0; }

.breadcrumbs { position: relative; z-index: 4; margin: 0 0 20px; background: #e9e9e9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19); }
.breadcrumbs .l-center:before { content: ""; position: absolute; left: -1970px; top: 0; bottom: 0; width: 2000px; background: #f4f4f4; }
.breadcrumbs a, .breadcrumbs span { position: relative; display: inline-block; padding: 6px 10px 6px 12px; vertical-align: middle; line-height: 1; font-size: 12px; }
.breadcrumbs a { background: #f4f4f4; color: #303030; }
.breadcrumbs a:before { content: ""; position: absolute; top: 0; left: -11px; background: url('../img/icons-s397dca5b84.png') 0 -182px no-repeat; width: 11px; height: 24px; }
.breadcrumbs a:first-child { padding-left: 0; }
.breadcrumbs a:first-child:before { display: none; }
.breadcrumbs a:hover { color: #a02d31; }
.breadcrumbs span { color: #545454; }
.breadcrumbs span:before { content: ""; position: absolute; top: 0; left: -4px; width: 0px; height: 0px; border-style: solid; border-width: 12px 0 12px 7px; border-color: transparent transparent transparent #f4f4f4; }

.footer { position: relative; z-index: 4; padding: 17px 0; background: white; color: #303030; }
.footer .l-center { *zoom: 1; }
.footer .l-center:after { content: " "; display: table; clear: both; }
.footer__col { float: left; width: 50%; text-align: right; font-size: 12px; text-transform: uppercase; }
.footer__col:first-child { text-align: left; }
.footer a { color: #303030; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.footer a:hover { color: #a02d31; }

.btn { position: relative; display: inline-block; padding: 8px 17px 6px; font-size: 12px; border-radius: 13px; text-transform: uppercase; font-family: "opensans-regular", Arial, sans-serif; line-height: 1; color: white; background: #a02d31; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover { background: #8a272a; }
.btn:active { top: 1px; }
.btn_prev { padding-left: 31px; }
.btn_prev:before { content: ""; position: absolute; top: 50%; left: 13px; margin-top: -4px; background: url('../img/icons-s397dca5b84.png') 0 -216px no-repeat; width: 10px; height: 9px; }
.btn_white { background: white; color: #565656; }
.btn_white:hover { background: white; color: #565656; }

.screen { position: absolute; top: 101px; left: 0; right: 0; bottom: 51px; }
.screen_constr { background: url(../img/constr.jpg) no-repeat 50% 50%; box-sizing: cover; }

.constr { position: relative; max-width: 930px; margin: 65px auto 0; z-index: 2; }
.constr .back { position: absolute; top: -41px; left: 0; }
.constr__in { *zoom: 1; }
.constr__in:after { content: " "; display: table; clear: both; }
.constr__info { float: left; width: 610px; height: 275px; padding: 30px; background: white; }
.constr__info-head { position: relative; padding: 0 0 20px 90px; margin-bottom: 15px; border-bottom: 1px solid #e7e7e7; }
.constr__info-ico { position: absolute; top: -8px; left: 0; background: url('../img/icons-s397dca5b84.png') 0 -292px no-repeat; width: 68px; height: 67px; }
.constr__info-title { margin-bottom: 15px; font-family: "opensans-semibold", Arial, sans-serif; font-size: 34px; }
.constr__info-text { margin-bottom: 5px; color: #6e6e6e; line-height: 1.6; }
.constr__info-contacts { font-size: 14px; color: #5f5f5f; }
.constr__info-contacts li { margin-top: 5px; }
.constr__info-contacts span, .constr__info-contacts a { font-family: "opensans-semibold", Arial, sans-serif; color: #191919; }
.constr__info-contacts a { text-decoration: underline; }
.constr__serv { position: relative; float: left; width: 307px; height: 275px; background: #941d21; box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.18); }
.constr__serv:after { content: ""; position: absolute; top: 0; right: -13px; background: url('../img/icons-s397dca5b84.png') 0 -369px no-repeat; width: 15px; height: 19px; }
.constr__serv-in { height: 262px; margin: 13px -13px 0 0; background: #941d21; box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.18); }
.constr__serv-title { padding: 13px 0 10px 18px; white-space: normal; font-size: 0; overflow: hidden; }
.constr__serv-title span, .constr__serv-title i { display: inline-block; vertical-align: middle; }
.constr__serv-title span { font-family: "opensans-semibold", Arial, sans-serif; font-size: 21px; color: white; text-transform: uppercase; }
.constr__serv-title i { margin-left: 10px; background: url('../img/icons-s397dca5b84.png') 0 -457px no-repeat; width: 174px; height: 17px; }
.constr__serv-list { position: relative; height: 127px; overflow: hidden; z-index: 2; }
.constr__serv-list.is-open { overflow: visible; }
.constr__serv-list ul { border-bottom: 1px solid rgba(255, 255, 255, 0.2); background: #941d21; box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.18); }
.constr__serv-list li { border-top: 1px solid rgba(255, 255, 255, 0.2); }
.constr__serv-list a { position: relative; display: block; padding: 11px 40px 11px 18px; font-size: 14px; color: white; -moz-transition: background 0.2s; -o-transition: background 0.2s; -webkit-transition: background 0.2s; transition: background 0.2s; }
.constr__serv-list a:hover { background: #6a1014; }
.constr__serv-list a:after { content: ""; position: absolute; top: 15px; right: 26px; background: url('../img/icons-s397dca5b84.png') 0 -419px no-repeat; width: 7px; height: 11px; }
.constr__serv-hide { width: 100%; height: 23px; background: #941d21; box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.18); font-size: 0; }
.constr__serv-hide i { display: inline-block; background: url('../img/icons-s397dca5b84.png') 0 -398px no-repeat; width: 15px; height: 11px; }
.constr__serv-more { width: 100%; height: 23px; background: none; font-size: 0; }
.constr__serv-more i { display: inline-block; background: url('../img/icons-s397dca5b84.png') 0 -440px no-repeat; width: 26px; height: 7px; }
.constr__serv-order { padding: 16px; background: #851a1e; box-shadow: inset 5px 0 0 rgba(0, 0, 0, 0.18); font-size: 0; }
.constr__slider { position: relative; float: left; width: 585px; min-height: 184px; margin-left: 25px; background-color: #f1f1f1; overflow: hidden; }
.constr__slider-item { width: 100%; min-height: 184px; padding: 20px 25px 40px; box-shadow: 0 5px 0 rgba(0, 0, 0, 0.05) inset; background-position: 100% 100%; background-repeat: no-repeat; line-height: 1.3; }
.constr__slider-title { margin-bottom: 10px; font-family: "opensans-semibold", Arial, sans-serif; font-size: 21px; text-transform: uppercase; }
.constr__slider-text { color: #6e6e6e; }
.constr__slider-pager { position: absolute; left: 25px; bottom: 15px; font-size: 0; z-index: 101; }
.constr__slider-pager span { display: inline-block; width: 12px; height: 12px; margin-right: 8px; background: #e4e4e4; border-radius: 50%; border: 2px solid #f1f1f1; vertical-align: top; cursor: pointer; }
.constr__slider-pager span.cycle-pager-active { border-color: #787878; background: transparent; }
.constr__video { float: left; width: 240px; min-height: 184px; padding: 12px; background: white; color: #191919; }
.constr__video-pic { position: relative; margin-bottom: 7px; font-size: 0; }
.constr__video-pic i { position: absolute; top: 50%; left: 50%; margin: -39px 0 0 -39px; background: url('../img/icons-s397dca5b84.png') 0 -648px no-repeat; width: 77px; height: 77px; }
.constr__video-title span { margin-right: 5px; font-family: "opensans-semibold", Arial, sans-serif; }

.works { position: absolute; bottom: 0; left: 0; right: 0; z-index: 4; }
.works__btn { position: absolute; width: 146px; height: 46px; top: -46px; left: 30px; background: white; font-size: 0; }
.works__btn span, .works__btn i { display: inline-block; vertical-align: middle; }
.works__btn span { font-size: 18px; }
.works__btn i { margin-left: 8px; background: url('../img/icons-s397dca5b84.png') 0 -845px no-repeat; width: 24px; height: 24px; }
.works__btn.is-active { background: #464646; }
.works__btn.is-active span { color: white; }
.works__btn.is-active i { background-position: 0 -811px; }
.works__list { height: 150px; font-size: 0; }
.works__list li { display: inline-block; width: 16.66%; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; vertical-align: top; }
@media only screen and (max-width: 1500px) { .works__list li { width: 20%; } }
@media only screen and (max-width: 1250px) { .works__list li { width: 25%; } }
.works__list li:hover a { visibility: visible; opacity: 1; }
.works__list a { position: relative; display: block; height: 150px; padding: 15px; background: rgba(0, 0, 0, 0.83); visibility: hidden; opacity: 0; -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s; }
.works__list a:after { content: ""; position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -18px; background: url('../img/icons-s397dca5b84.png') 0 -879px no-repeat; width: 37px; height: 37px; }
.works__list span { display: block; color: white; line-height: 1.2; font-size: 13px; }
.works__list span:first-child { margin-bottom: 5px; font-size: 16px; }

.more__link { position: relative; padding-right: 20px; font-family: "opensans-semibold", Arial, sans-serif; font-size: 14px; color: #191919; text-decoration: underline; }
.more__link:after { content: ""; position: absolute; top: 4px; right: 0; background: url('../img/icons-s397dca5b84.png') 0 -83px no-repeat; width: 13px; height: 13px; }

.back { font-size: 0; }
.back__btn { display: inline-block; width: 43px; height: 41px; background: #a02d31; font-size: 0; -moz-transition: background-color 0.2s; -o-transition: background-color 0.2s; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; text-align: center; font-size: 0; }
.back__btn:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.back__btn i { display: inline-block; background: url('../img/icons-s397dca5b84.png') 0 -50px no-repeat; width: 13px; height: 23px; vertical-align: middle; }
.back__btn:hover { background: #8a272a; }

.page-title { margin: 0 0 17px; font-family: "opensans-semibold", Arial, sans-serif; font-size: 30px; font-weight: normal; }

.subtitle { margin: 24px 0; font-family: "opensans-semibold", Arial, sans-serif; font-size: 24px; font-weight: normal; }

.page-content { margin: 28px 0 25px; padding: 21px 40px 30px; background: white; box-shadow: 0 0 24px rgba(0, 0, 0, 0.15); }
.page-content .page-title { margin-bottom: 11px; }

.article { font-size: 16px; font-family: "opensans-regular", Arial, sans-serif; line-height: 1.5; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article .date { margin-bottom: 27px; }
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { font-family: "opensans-semibold", Arial, sans-serif; font-weight: normal; }
.article h1 { margin: 0 0 11px; font-size: 30px; }
.article h2 { margin: 14px 0 4px; font-size: 24px; }
.article h3 { margin: 14px 0 4px; font-size: 22px; }
.article h4 { margin: 14px 0 4px; font-size: 20px; }
.article h5 { margin: 14px 0 4px; font-size: 18px; }
.article h6 { margin: 14px 0 4px; font-size: 16px; }
.article p { margin-bottom: 14px; }
.article img { float: left; margin: 0 40px 10px 0; }
.article img + p { margin-bottom: 35px; }
.article em, .article i { font-style: normal; font-family: "opensans-italic", Arial, sans-serif; line-height: 1.55; color: #454545; font-size: 18px; }
.article b, .article strong { font-weight: normal; font-family: "opensans-bold", Arial, sans-serif; }
.article a { color: #a02d31; }
.article a:hover { text-decoration: underline; }
.article ul { margin: 14px 0; }
.article ul li { position: relative; padding-left: 20px; }
.article ul li:before { content: ""; position: absolute; left: 0; top: 10px; width: 4px; height: 4px; background: #191919; border-radius: 50%; }
.article ol { margin: 14px 0; counter-reset: list1; }
.article ol li { position: relative; padding-left: 20px; }
.article ol li:before { content: ""; position: absolute; left: 0; top: 0; font-size: 16px; counter-increment: list1; content: counter(list1) ". "; }
.article hr { margin: 30px 0; border: 0; height: 1px; background: gainsboro; }

.posts-wrap { margin: 0 auto; max-width: 1260px; }

.posts-group { text-align: justify; font-size: 0; margin-bottom: 30px; }
.posts-group:after { content: ""; display: inline-block; width: 100%; height: 0; }
.posts-group .post { display: inline-block; vertical-align: top; margin: 0 0 20px 20px; text-align: left; }
.posts-group .post:first-child { margin-left: 0; }

.post { margin-bottom: 20px; display: inline-block; border: 1px solid #ededed; padding: 18px 18px 40px; width: 300px; background: white; font-size: 16px; color: #191919; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "opensans-regular", Arial, sans-serif; }
.post:hover { box-shadow: 0 2px 12px rgba(0, 0, 0, 0.14); }
.post__img { margin: 0 0 23px; max-height: 174px; overflow: hidden; }
.post__img img { max-width: 100%; }
.post .date { margin-bottom: 10px; }

.date { display: block; position: relative; padding: 3px 0 0; color: #a02d31; font-size: 14px; }
.date:before { content: ""; position: absolute; top: 0; left: 0; height: 2px; width: 31px; background: #d7d7d7; }

.page-error { position: absolute; top: 0; left: 0; bottom: 0; right: 0; text-align: center; font-size: 0; }
.page-error:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.page-error__in { position: relative; display: inline-block; vertical-align: middle; padding: 17px 28px; width: 417px; height: 214px; background: white; text-align: left; line-height: 1.1; white-space: nowrap; }
.page-error__in:before { content: ""; position: absolute; left: 0; top: 0; z-index: -1; width: 645px; height: 330px; background: url(../img/shadow.png) 0 0 no-repeat; }
.page-error__number { display: inline-block; vertical-align: middle; font-size: 106px; font-family: "opensans-bold", Arial, sans-serif; }
.page-error__text { display: inline-block; vertical-align: middle; margin-left: 10px; width: 175px; color: #8a8a8a; font-size: 18px; white-space: normal; }
.page-error__link { border-top: 2px solid #a02d31; padding: 16px 0 0; font-size: 16px; }
.page-error__link a { color: #a02d31; }
