.page-title
	margin: 0 0 17px 
	+fsb
	font-size: 30px
	font-weight: normal
.subtitle
	margin: 24px 0
	+fsb
	font-size: 24px
	font-weight: normal
.page-content
	margin: 28px 0 25px
	padding: 21px 40px 30px
	background: #fff
	box-shadow: 0 0 24px rgba(0,0,0,.15)
	.page-title
		margin-bottom: 11px
.article
	font-size: 16px
	+fr
	line-height: 1.5
	+clr
	.date
		margin-bottom: 27px
	h1,h2,h3,h4,h5,h6
		+fsb
		font-weight: normal
	h1
		margin: 0 0 11px 
		font-size: 30px
	h2
		margin: 14px 0 4px 
		font-size: 24px
	h3
		margin: 14px 0 4px 
		font-size: 22px
	h4
		margin: 14px 0 4px 
		font-size: 20px
	h5
		margin: 14px 0 4px 
		font-size: 18px 
	h6
		margin: 14px 0 4px 
		font-size: 16px
	p
		margin-bottom: 14px
	img
		float: left
		margin: 0 40px 10px 0 
		+ p
			margin-bottom: 35px
	em, i
		font-style: normal
		+fit
		line-height: 1.55
		color: #454545
		font-size: 18px
	b, strong
		font-weight: normal
		+fb
	a
		color: $red 
		&:hover
			text-decoration: underline
	ul
		margin: 14px 0
		li
			position: relative
			padding-left: 20px
			&:before
				content: ""
				position: absolute
				left: 0
				top: 10px
				width: 4px
				height: 4px
				background: $black
				border-radius: 50%  
	ol
		margin: 14px 0
		counter-reset: list1
		li
			position: relative
			padding-left: 20px
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				font-size: 16px
				//color: $orange  
				counter-increment: list1  
				content: counter(list1) ". "
	hr
		margin: 30px 0
		border: 0
		height: 1px
		background: #dcdcdc 
.posts-wrap
	margin: 0 auto 
	max-width: 1260px
.posts-group
	+justify
	margin-bottom: 30px
	.post
		display: inline-block
		vertical-align: top
		margin: 0 0 20px 20px
		text-align: left
		&:first-child
			margin-left: 0
		+r(1350)
			&:last-child
				display: none
.post
	margin-bottom: 20px
	display: inline-block
	border: 1px solid $border
	padding: 18px 18px 40px
	width: 300px
	background: #fff
	font-size: 16px
	color: $black  
	+tr
	+fr
	&:hover
		box-shadow: 0 2px 12px rgba(0,0,0,.14)
		//+fsb
	&__img
		margin: 0 0 23px 
		max-height: 174px
		overflow: hidden
		img
			max-width: 100%
	.date
		margin-bottom: 10px
.date
	display: block
	position: relative
	padding: 3px 0 0 
	color: $red
	font-size: 14px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 2px
		width: 31px
		background: #d7d7d7  

.page-error
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	+vertical
	&__in
		position: relative
		display: inline-block
		vertical-align: middle
		padding: 17px 28px 
		width: 417px
		height: 214px
		background: #fff
		text-align: left
		line-height: 1.1
		white-space: nowrap
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			z-index: -1
			width: 645px
			height: 330px
			background: url(../img/shadow.png) 0 0 no-repeat 
			 
	&__number
		display: inline-block
		vertical-align: middle
		font-size: 106px
		+fb
	&__text
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		width: 175px
		color: #8a8a8a
		font-size: 18px 
		white-space: normal
	&__link
		border-top: 2px solid $red
		padding: 16px 0 0 
		font-size: 16px
		a
			color: $red 
			
.search
	+clr
	.btn
		float: right
	&__input
		position: absolute
		top: 12px
		right: 124px
		bottom: 12px
		left: 14px
		input
			display: block
			padding: 0 18px 
			width: 100%
			height: 31px
			border: 1px solid #dadada
			border-radius: 16px
			background: #f9f9f9
			font-size: 16px
			+fr
			+tr(background .2s)
			box-shadow: inset 0 3px 2px rgba(0,0,0,.03)
			+placeholder
				color: #aaa 
			&:focus
				background: #fdfdfd
.search-info
	margin: 0 0 37px 
	font-size: 16px
	strong
		font-weight: normal
		+fsb
.result
	position: relative
	margin: 0 0 15px 
	padding: 17px 62px 20px
	min-height: 134px
	background: #fff
	color: #636363 
	box-shadow: 0 1px 1px rgba(0,0,0,.13)
	&:last-child
		margin-bottom: 35px
	&__title
		color: $red
		&:hover 
			text-decoration: underline
		strong
			+fsb
			font-weight: normal
	&__counter
		position: absolute
		left: 20px
		top: 17px
		font-size: 16px
		color: #5f5f5f 
	&__text
		padding: 16px 0 0 
		font-size: 14px
		strong
			padding: 0 2px 
			background: #222 
			color: #fff 
			font-weight: normal
.pager
	margin: 35px 0 60px
	.btn
		margin-right: 23px
	&__nav
		display: inline-block
		vertical-align: middle
		a
			display: inline-block
			vertical-align: middle
			margin-left: 7px
			width: 28px
			height: 28px
			text-align: center
			line-height: 28px
			border-radius: 50% 
			font-size: 16px
			color: $red 
			&:first-child
				margin-left: 0
			&.pager__prev
				+s(pager-prev)
			&.pager__next
				+s(pager-next)
		.is-active
			background: #2f2f2f
			color: #fff
		
.filter
	margin: 0 0 44px 
	+clr
	&__links
		float: left
	&__link
		display: inline-block
		margin-left: 5px
		padding: 3px 30px 3px 14px 
		vertical-align: middle
		font-size: 16px
		color: $black 
		&:first-child
			margin-left: 0
		&:hover
			span
				border-color: transparent 
		span
			display: block
			border-bottom: 1px dotted #7a7a7a  
		&.is-active
			background: $red 
			position: relative
			color: #fff
			border-radius: 15px  
			span
				border-color: transparent 
			&:after
				content: ""
				position: absolute
				top: 5px
				right: 5px
				+s(del) 
	&__other
		float: right
		.select
			display: inline-block
			vertical-align: middle
.items-wrap
	margin: 0 auto 30px
	text-align: left
	font-size: 0
	width: 1200px
	+r(1260)
		width: 100% 
.item
	display: inline-block
	position: relative
	padding: 17px 17px 23px
	width: 220px
	font-size: 12px
	background: #fff
	box-shadow: 0 1px 1px rgba(0,0,0,.13)
	color: $dark 
	text-align: left
	+tr(box-shadow .2s)
	.date
		margin-top: 12px
		color: #5f5f5f
		font-size: 12px 
	&__meta
		position: absolute
		left: 17px
		bottom: 14px
		color: #5f5f5f
		font-size: 12px  
	&__img
		margin-bottom: 19px
		max-height: 202px
		overflow: hidden
		text-align: center
		img
			max-width: 100%
	&__title
		font-size: 14px
		+fsb
	&__text
		color: #5f5f5f
		font-size: 12px
	&__overlay
		position: absolute
		top: 0
		z-index: 1
		right: 0
		bottom: 0
		left: 0
		background: #fff  
		opacity: 0
		visibility: hidden
		+tr(opacity .2s linear)
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -34px 0 0 -34px 
			z-index: 2
			+s(add)
	&_service
		margin: 0 20px 20px 0
		padding-bottom: 35px
		height: 235px
		vertical-align: top
		position: relative
		&:hover
			box-shadow: 0 7px 9px rgba(0,0,0,.16)
			.item__text
				color: $red 
			.item__img
				div
					opacity: 1
					visibility: visible
					&:first-child
						opacity: 0
						visibility: hidden
		.item__img
			position: relative
			margin: 0 0 29px 
			padding-top: 13px
			height: 64px
			div
				position: absolute
				bottom: 0
				left: 0
				right: 0
				opacity: 0
				visibility: hidden
				+tr(opacity .5s)
				&:first-child
					opacity: 1
					visibility: visible
			img
				display: block
				margin: 0 auto 
		.item__text
			font-size: 14px
	&_project
		margin-bottom: 20px
		&:hover
			box-shadow: 0 0 24px rgba(0,0,0,.15)
			.item__overlay
				opacity: 1
				visibility: visible
	&_has-corner
		border-radius: 0 13px 0 0
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			+arr(13,13,#e1e1e1,bl) 
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			+arr(13,13,#f5f5f5,tr) 

.map
	position: relative
	margin: 0 0 32px 
	height: 380px
	&__body
		position: absolute
		top: 0
		bottom: 0
		left: -40px
		right: -40px

.feedback
	+clr
	&__title
		font-size: 18px
		+fsb
	&__info
		float: left
		margin-right: 25px
		width: 295px
	&__text
		overflow: hidden
		padding-bottom: 1px
	&__btn
		text-align: right
	.input_textarea
		min-height: 256px

.captcha
	+clr
	&__item
		position: relative
		float: left
		margin-right: 12px
		width: 31px
		height: 31px
		border-radius: 50% 
		text-align: center
		line-height: 31px
		cursor: pointer
		&.is-red
			background: #bc4747 
		&.is-green
			background: #47bc94 
		&.is-yellow
			background: #ddc868
		&.is-blue
			background: #5087be 
		span
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			border-radius: 50% 
			border: 3px solid $black
			display: none
			box-shadow: inset 0 0 16px rgba(0,0,0,.84)
			&:after
				content: ""
				position: absolute
				left: 7px
				top: 9px
				+s(captcha-check) 
		input
			vertical-align: middle
			cursor: pointer
			opacity: 0
			&:checked
				+ span
					display: block