.page-title
    margin: 0 0 17px 
    +fsb
    font-size: 30px
    font-weight: normal
.page-content
    margin: 28px 0 0 
    padding: 40px 
    background: #fff
    box-shadow: 0 0 24px rgba(0,0,0,.15)
    .page-title
        margin-bottom: 11px
.article
    font-size: 16px
    +fr
    line-height: 1.5
    +clr
    .date
        margin-bottom: 27px
    h1,h2,h3,h4,h5,h6
        +fsb
        font-weight: normal
    h1
        margin: 0 0 11px 
        font-size: 30px
    h2
        margin: 14px 0 4px 
        font-size: 24px
    h3
        margin: 14px 0 4px 
        font-size: 22px
    h4
        margin: 14px 0 4px 
        font-size: 20px
    h5
        margin: 14px 0 4px 
        font-size: 18px 
    h6
        margin: 14px 0 4px 
        font-size: 16px
    p
        margin-bottom: 14px
    img
        float: left
        margin: 0 40px 10px 0 
        + p
            margin-bottom: 35px
    em, i
        font-style: normal
        +fit
        line-height: 1.55
        color: #454545
        font-size: 18px
    b, strong
        font-weight: normal
        +fb
    a
        color: $red 
        &:hover
            text-decoration: underline
    ul
        margin: 14px 0
        li
            position: relative
            padding-left: 20px
            &:before
                content: ""
                position: absolute
                left: 0
                top: 10px
                width: 4px
                height: 4px
                background: $black
                border-radius: 50%  
    ol
        margin: 14px 0
        counter-reset: list1
        li
            position: relative
            padding-left: 20px
            &:before
                content: ""
                position: absolute
                left: 0
                top: 0
                font-size: 16px
                //color: $orange  
                counter-increment: list1  
                content: counter(list1) ". "
    hr
        margin: 30px 0
        border: 0
        height: 1px
        background: #dcdcdc 
.posts-wrap
    margin: 0 auto 
    max-width: 1260px
.post
    float: left
    margin-bottom: 20px
    border: 1px solid $border
    padding: 18px 18px 40px
    width: 300px
    background: #fff
    font-size: 16px
    color: $black  
    +tr
    +fr
    &:hover
        box-shadow: 0 2px 12px rgba(0,0,0,.14)
        //+fsb
    &__img
        margin: 0 0 23px 
        max-height: 174px
        overflow: hidden
        img
            max-width: 100%
    .date
        margin-bottom: 10px
.date
    display: block
    position: relative
    padding: 3px 0 0 
    color: $red
    font-size: 14px
    &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        height: 2px
        width: 31px
        background: #d7d7d7  

.page-error
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    +vertical
    &__in
        position: relative
        display: inline-block
        vertical-align: middle
        padding: 17px 28px 
        width: 417px
        height: 214px
        background: #fff
        text-align: left
        line-height: 1.1
        white-space: nowrap
        &:before
            content: ""
            position: absolute
            left: 0
            top: 0
            z-index: -1
            width: 645px
            height: 330px
            background: url(../img/shadow.png) 0 0 no-repeat 
             
    &__number
        display: inline-block
        vertical-align: middle
        font-size: 106px
        +fb
    &__text
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        width: 175px
        color: #8a8a8a
        font-size: 18px 
        white-space: normal
    &__link
        border-top: 2px solid $red
        padding: 16px 0 0 
        font-size: 16px
        a
            color: $red 