.sidebar-logo
    display: inline-block
    margin: 80px 0 20px
.l-col3
    .sidebar
        margin-top: 58px

.sidebar
    margin: 0 0 48px 
    box-shadow: 0 0 0 1px #ededed
    border-top: 5px solid $black 
    background: #fff
    + .banner
        margin-top: -20px
    &_nav
        .sidebar__item
            padding: 0
    &_only-nav
        margin-bottom: -33px
    &__in
        padding: 0 18px 
        .sidebar__title
            padding: 18px 0 
    &__item
        border-top: 1px solid #d7d7d7 
        padding: 13px 18px 
        &:first-child
            border: 0
    &__title
        padding: 5px 0 
        font-size: 18px
        +fsb
    &__tel
        text-transform: uppercase
        font-size: 14px
        strong
            display: block
            font-weight: normal
            +fsb
            font-size: 18px
    &__email
        color: #7b7b7b
        font-size: 14px
        a
            color: $black
            text-decoration: underline
            +fsb
            &:hover
                text-decoration: none
    
    .btn-wrap
        padding: 32px 0 28px 
    &__nav
        font-size: 14px
        li

            &:hover
                background: #fcfcfc 
                > ul
                    display: block
        a
            display: block
            position: relative 
            border-bottom: 1px solid #d7d7d7 
            padding: 11px 20px 
            color: #444
            overflow: hidden
            +tr(background .2s)
            &:after
                content: ""
                position: absolute
                top: 0
                right: 0
                bottom: 0
                width: 7px
                background: $red 
                display: none
            &:hover
                background: #f0f0f0 
                &:after
                    display: block

        ul
            display: none
            a
                padding-left: 30px
            ul
                font-size: 13px
                a
                    padding-left: 40px
                    
    &__projects
        white-space: nowrap
        padding: 0 20px 0 0 
        i,span
            display: inline-block
            vertical-align: middle
            white-space: normal
        i
            width: 63px
            height: 63px
            background: $black
            border-radius: 50%  
            font-style: normal
            color: #fff
            line-height: 63px
            text-align: center
            font-size: 37px 
        span
            margin-left: 6px
            font-size: 14px
            color: #5f5f5f 
                    
.accord
    border-top: 1px solid #d7d7d7
    padding: 11px 0 
    &.is-active
        .accord__title
            font-size: 13px
            +fsb
            &:after
                +s(arr-t-red)
        .progress
            &__line
                height: 19px
                background-image: url(../images/progress-big.png)
                
    &__title
        position: relative 
        text-transform: uppercase
        padding-right: 30px
        font-size: 11px
        cursor: pointer
        +unselectable
        &:after
            content: ""
            position: absolute
            top: 50%
            right: 10px
            margin-top: -3px
            +s(arr-b)
    &__body
        display: none
        padding: 14px 0 5px 
        font-size: 13px
        color: #959595
        a
            color: #959595 
    .progress
        margin-top: 7px
.progress
    position: relative
    font-size: 0
    white-space: nowrap
    &__line,
    &__info
        display: inline-block
        vertical-align: middle
        font-size: 11px
    &__line
        margin-right: 11px
        height: 16px
        background: url(../images/progress.png) 0 0 repeat 
.banner
    display: block
    overflow: hidden
    margin-bottom: 25px 
    img
        display: block
.is-middle-viewport
    display: none !important
    +r(1260)
        display: block !important
        
.sidebar-target
    display: block
    margin: 25px 0 
    padding: 19px 11px 19px 17px 
    background: #fff 
    white-space: nowrap
    span, i
        display: inline-block
        white-space: normal
        vertical-align: middle
    span
        width: 160px
        color: #444
        font-size: 14px
    i
        +s(scroll-to)